/* ── 源ノ角ゴシック JP VF / Noto Sans JP (일본어) ── */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

/* ── Noto Sans KR (한국어) ── */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* ── Leferi (영어) ── */
@font-face {
  font-family: 'Leferi';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LefeeriPoint-WhiteA.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
